@model IEnumerable<Projectwerk.Vermeersch.f.Models.Putter>

@{
    ViewBag.Title = "Index";
}

<div class="well well-sm" style="background:#428bca;color:white;"><h2>Putters</h2></div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geboortedatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Woonplaats)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
