@model Projectwerk.Vermeersch.f.Viewmodels.ChangeUsernameViewModel

@{
    ViewBag.Title = "ChangeUsername";
}


<div class="well well-sm" style="background:#D41024;color:white;"><h2>Wijzig gebruikersnaam</h2></div>

<div id="temp">
    @Html.Raw(TempData["succesboodschap"])
</div>

@if (!string.IsNullOrWhiteSpace(TempData["succesboodschap"] + ""))
{
    @section scripts
{
        <script>
            $('#temp').fadeTo(1000, 1);
            $('#btnUN').prop("disabled", true);
        </script>
    }
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Gebruikersnaam, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Gebruikersnaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gebruikersnaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paswoord, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Paswoord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paswoord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewUsername, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.NewUsername, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewUsername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BevestigUsername, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.BevestigUsername, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BevestigUsername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Wijzig" class="btn btn-default" style="background:#D41024;color:white;" id="btnUN"; />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


