@model Projectwerk.Vermeersch.f.Viewmodels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<div class="well well-sm" style="background:#D41024;color:white;"><h2>Wijzig paswoord</h2></div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Gebruikersnaam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gebruikersnaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gebruikersnaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paswoord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paswoord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paswoord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NieuwPaswoord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NieuwPaswoord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NieuwPaswoord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bevestigpaswoord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bevestigpaswoord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bevestigpaswoord, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@Html.ActionLink("Wijzig", "ChangePassword", "Account", null, new { @class = "btn btn-danger" })*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wijzig" class="btn btn-default" style="background:#D41024;color:white;" />
            </div>
        </div>
    </div>
}

@*@Html.ActionLink("Home", "Index", "Home",null, new { @class = "btn btn-primary" })*@
<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>





@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


