@model Projectwerk.Vermeersch.f.Viewmodels.InlogViewModel

@{
    ViewBag.Title = "Login";
}

<div class="well well-sm" style="background:#D41024;color:white;"><h2>Login</h2></div>
<div id="temp">
    @Html.Raw(TempData["succesboodschap"])
</div>

@if (!string.IsNullOrWhiteSpace(TempData["succesboodschap"] + ""))
{
    @section scripts
{
        <script>
            $('#temp').fadeTo(1000, 1);
            $('#btnLogin').prop("disabled", true);
        </script>
    }
}





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Gebruikersnaam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gebruikersnaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gebruikersnaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paswoord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paswoord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paswoord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Onthouden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Onthouden)
                    @Html.ValidationMessageFor(model => model.Onthouden, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" style="background:#428bca;color:white;" id="btnLogin" />
                <br /><br />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wijzig gebruikersnaam", "ChangeUsername", "Account", null, new { @class = "btn btn-default", @style = "background:#555;color:#FFF;margin-right:20px;" })
    @Html.ActionLink("Wijzig paswoord", "ChangePassword", "Account", null, new { @class = "btn btn-default", @style = "background:#555;color:#FFF;" })
</div>
<br /><br />




