@model Projectwerk.Vermeersch.f.Viewmodels.WedstrijdViewModel


<div class="col-md-4" style="background-color:#AAA; float:right; border:solid 5px #555; border-radius:5px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.PutterId)


        <div class="form-horizontal" style="padding-top:5%;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Plaats, "Locatie", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Plaats", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Plaats, "", new { @class = "text-danger" })

                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Test, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Test, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Test, "", new { @class = "text-danger" })
                </div>
            </div>*@



            <div class="form-group">
                @Html.LabelFor(model => model.Datum,  htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" }  })
                    @*@Html.TextBoxFor(model => model.Datum, new { @class = "form-control datepicker", @value = DateTime.Today })*@


                    @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Afstand, "Afstand", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Afstand", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Afstand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sport, "Sport", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Sport", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sport, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Stayer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Stayer)
                        @Html.ValidationMessageFor(model => model.Stayer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary"  />
                </div>
            </div>
        </div>
    }
    <button id="testbtn2">Test</button>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        jQuery.validator.unobtrusive.parse();

        //$('#testbtn2').on('click', function () {
        //    $('#test').html('fluppe');
        //                });

        //$('#testbtn2').on('click', function () {
        //                    wedstrijdlijst.push({
        //                        "Putternaam": "jaak ", "PutterId": 11, "Plaats": "stonebridge", "Datum": "07-4-2018",
        //        "Afstand": "Half", "Sport": "Triatlon", "Stayer": false, "AfbeeldingsURL": "1.png"
        //                      })
        //    DateConvert();
        //                });

                    })
</script>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
