
@model List<Projectwerk.Vermeersch.f.Viewmodels.WedstrijdViewModel>

@{
    ViewBag.Title = "Index";

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "GET";
    options.UpdateTargetId = "divToevoegen";
    options.InsertionMode = InsertionMode.Replace;
}


<div class="well well-sm" style="background:#D41024;color:white;">
    <img class="img-rounded" style="height:80px;" src="~/Pics/leden/@Model.First().AfbeeldingsURL" />
    <h2 style="display:inline; margin-left:5%;">Wedstrijdpagina &nbsp; @Model.First().Putternaam</h2>
</div>

<div class="row">
    <div class="col-md-7" style="padding:0;">
        <table id="wedstrijdtable" border="1" class="table table-striped" style="background-color:#EEE; color:black">
            <thead style="background-color:#555;color:white;">
                <tr>
                    <th></th>
                    <th>Datum </th>
                    <th>Locatie </th>
                    <th>Sport </th>
                    <th>Afstand </th>
                    <th>Stayer </th>
                    <th style="display:none">id</th>
                    <th>Resultaat</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in wedstrijdlijst">
                    <td class="delete">
                        <a href="#">
                            <img src="~/Pics/delete.png" alt="Delete" width="20" />
                        </a>
                    </td>
                    <td>{{row.Datum}}</td>
                    <td>{{row.Plaats}}</td>
                    <td>{{row.Sport}}</td>
                    <td>{{row.Afstand}}</td>
                    <td>{{row.Stayer}}</td>

                    <td v-if="row.Result">
                        <button type="button" id="result" class="btn btn-primary" style="background-color:black;">Bekijk</button>
                    </td>
                    <td v-else="row.Result" class="addResult">
                        @*@Ajax.ActionLink("Resultaat toevoegen", "AddResult", "Resultaten", new { id = Model.First().PutterId  }, options, new { @class = "btn btn-primary" })*@
                        <button type="button" class="btn btn-primary">Resultaat toevoegen</button>

                    </td>
                    <td style="display:none" id="wedstrijdId">{{row.Id}}</td>
                </tr>
            </tbody>
        </table>
        <div id="test" style="color:red;"></div>

        @Ajax.ActionLink("Wedstrijd toevoegen", "AddWedstrijd", new { id = Model.First().PutterId },
       options, new { @class = "btn btn-primary" })


        <button id="testbtn">Test</button>
        <button class="result">anderTestje</button>

    </div>
    <div id="divToevoegen"></div>
</div>



<!-- Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:black; color:white ; border:1px solid white;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <img src="~/Pics/putterslogo.jpg" style="height:50px; float:right;" />

                <h3 style="color:white">Uitslag <span style="color:white;"> @Model.First().Putternaam</span></h3>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" style="background-color:#D41024;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="background-color:#D41024;color:white;" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script>


        $(function () {
            var infoModal = $('#myModal');

            $('.result').on('click', function () {
                //event.preventDefault();
                @*$.ajax({
                    type: "POST",
                    url: '@Url.Action("Result", "Home")',
                    data: { 'Id': '@Model.Id', 'wedstrijdId': $(this).siblings('#wedstrijdId').text() },
                    error: function (a, b, c) {
                        alert(a.statusText);
                    },
                    success: function (data) {
                        infoModal.find('.modal-body').html(data);
                        infoModal.modal('show');
                    }

                });*@
                infoModal.modal('show');
            });
        });




        $(document).ready(function () {

            var wedstrijdlijst = @Html.Raw(Json.Encode(Model));
            DateConvert();

            function DateConvert()
            {
                for (var i = 0; i < wedstrijdlijst.length; i++)
                {
                    var datum = wedstrijdlijst[i].Datum;
                    var d =new Date (parseInt(datum.substr(6)));
                    wedstrijdlijst[i].Datum = d.toLocaleDateString();
                }

            }

            var wedstrijdtable = new Vue({
                el: '#wedstrijdtable',
                data: { wedstrijdlijst}
            });

            $('#testbtn').on('click', function () {
                wedstrijdlijst.push({"Putternaam":"jaak ","PutterId":11,"Plaats":"stonebridge","Datum":"07-4-2018",
                    "Afstand":"Half","Sport":"Triatlon","Stayer":false,"AfbeeldingsURL":"1.png"})
                //DateConvert();
            });

        });

        $(function () {
            $('.delete').on('click', function () {
                var self = $(this)
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Verwijder", "Wedstrijden")',
                    data: { 'PutterId': '@Model.First().PutterId', 'Id': $(this).siblings('#wedstrijdId').text() },
                    success: function (data) {
                        self.parent().remove();
                        //alert("Wedstrijd verwijderd !");
                    }
                });

            });
        });



        $(function () {
            $('.addResult').on('click', function () {
             

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("AddResult", "Resultaten")',
                    data: { 'PutterId': '@Model.First().PutterId' , 'Id': $(this).siblings('#wedstrijdId').text() },
                    success: function (data) {
                        $('#divToevoegen').html(data);
                    }

                });

            });
        });

        $(function () {        
            $(document).ajaxComplete(function () {
                $.validator.unobtrusive.parse(document);
            });
        });

    </script>
}

